/* 
Font-size 1.5rem
*/

html {
    font-size: 62.5%;
}

.container {
    background-color: var(--background-color);
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--card-color);
    border-radius: 2rem;
}